<div *ngFor="let keyValue of keyvalueList; index as index">
    <div class="keyvalue-input-list__item">
        <input
                [(ngModel)]="keyValue.key"
                name="key{{index}}"
                placeholder="Key"
                type="text">
        <input
                [(ngModel)]="keyValue.value"
                name="value{{index}}"
                placeholder="Value"
                type="text">
        <span class="keyvalue-input-checkbox-box">
      <label class="keyvalue-input-checkbox-label" for="button{{index}}">As button</label>
      <input
              [(ngModel)]="keyValue.button"
              name="button{{index}}"
              placeholder="false"
              type="checkbox"
              id = "button{{index}}">
      </span>
        <button
                (click)="deleteKeyValue(index)"
                type="button"
                class="keyvalue-input-list__button"
        >Remove</button>
        <button
                (click)="addNestedKeyValue(index)"
                type="button"
                class="keyvalue-input-list__button"
        >Add nested</button>
    </div>
    <div *ngIf="keyValue.nested" class="keyvalue-input-list__nested">
        <app-bot-replies-list
                [keyvalueList]="keyValue.nested"
        ></app-bot-replies-list>
    </div>
</div>
