.keyvalue-input-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  input{
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-right: 10px;
  }

  button{
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #0076f5;
    color: white;
    cursor: pointer;
  }
}
.keyvalue-input-list__nested{
  margin-left: 20px;
}
.keyvalue-input-checkbox-label{
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin-right: 10px;
}

.keyvalue-input-checkbox-box{
  display: inline-flex;
  flex-direction: column;

  input{
    cursor: pointer;
  }
}

