<div class="keyvalue-input-list">
  <form (submit)="getFile($event)">
    <div *ngFor="let keyValue of keyvalueList; index as index" class="keyvalue-input-list__item">
      <input required type="text" [(ngModel)]="keyValue.key" placeholder="Key" name="key{{index}}}">
      <input required type="text" [(ngModel)]="keyValue.value" placeholder="Value" name="value{{index}}}">
      <button
        (click)="deleteKeyValue(index)"
        type="button"
        class="keyvalue-input-list__remove"
      >Remove</button>
    </div>
    <button
      type="button"
      (click)="addKeyValue()"
      class="keyvalue-input-list__add"
    >Add</button>
    <button
      type="submit"
      class="keyvalue-input-list__submit"
      [class.keyvalue-input-list__submit--disabled]="submitDisabled"
      [class.keyvalue-input-list__submit--enabled]="!submitDisabled"
      [disabled]="submitDisabled"
    >Submit</button>
  </form>
</div>
