<div class="keyvalue-input-list">
  <form (submit)="getFile($event)">
    <app-bot-replies-list [keyvalueList]="keyvalueList"></app-bot-replies-list>
    <button
      type="button"
      (click)="addKeyValue()"
      class="keyvalue-input-list__add"
    >Add</button>
    <button
      type="submit"
      class="keyvalue-input-list__submit"
      [class.keyvalue-input-list__submit--disabled]="botIsGenerating"
      [class.keyvalue-input-list__submit--enabled]="!botIsGenerating"
      [disabled]="botIsGenerating"
    >Generate</button>
    <span class="file_loading-text" *ngIf="botIsGenerating">Generating...</span>
  </form>
</div>
